*,
html {
    scroll-behavior: smooth !important;
}

header {
    width: fit-content;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("images/background.jpeg"), linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-blend-mode: darken;
}

.left-column {
    width: 30%;
    /* background-image: url("images/background.jpeg"), linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-blend-mode: darken; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
}

.right-column {
    background-color: rgb(255 255 255 / 80%);
    backdrop-filter: blur(10px);
    flex: 1;
    margin-left: 30%;
    padding: 20px;
    overflow-y: auto;
}

.row {
    flex: 1;
    display: flex;
    justify-content: left;
    margin: 20px;
    border-radius: 5px;
}

section {
    margin: 10px;
}

#about {
    height: auto;
}

#projects {
    height: auto;
    width: 100%
}

#experience {
    height: auto;
    width: 100%
}

#pfp {
    justify-self: center;
    height: 200px;
    text-align: center;
}

#home {
    padding-top: 25%;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

h4 {
    font-weight: 600;
    font-size: 1.25rem;
}

span {
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}

p {
    margin-bottom: 10px;
}

.profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact a {
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}

.contact a:hover {
    text-decoration: underline;
    color: whitesmoke;
    opacity: 0.75;
    transition: 0.15s;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    color: whitesmoke;
    opacity: 0.75;
    transition: 0.15s;
}

a img {
    transition: transform 0.15s ease-in-out;
}

a:hover img {
    transform: scale(1.15);
}

.socials {
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.cards {
    column-count: 2;
    column-gap: 12px;
}

.cards a {
    text-decoration: none;
    color: #333;
    width: 49%;
    min-width: 200px;
    margin-bottom: 20px;
}

.project-card {
    height: auto;
    background-color: rgb(255 255 255 / 40%);
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: transform 0.15s ease-in-out;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
}

.project-card:hover {
    transform: scale(1.025);
}


.experiences {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.exp-card {
    background-color: rgb(255 255 255 / 40%);
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    transition: transform 0.15s ease-in-out;
}

.exp-card:hover {
    transform: scale(1.025);
}

.exp-details {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.loc-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.exp-desc {
    display: block;
}

.exp-card p {
    margin: 0px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.libraries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.logo {
    justify-content: center;
    text-align: center;
}

.logo img {
    height: 50px;
    margin: 10px;
    margin-bottom: 0;
    display: block;
}

.logo p {
    margin: 0;
    padding: 0;
}

@media (max-width: 1075px) {
    .container {
        display: block;
        height: auto;
    }

    .left-column {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        position: static;
    }

    .right-column {
        margin: 0;
    }

    #home {
        padding-top: 10%;
    }

    .cards {
        column-count: 1;
        column-gap: 10px;
    }

    .cards a {
        margin-bottom: 20px;
    }

    .cards a {
        width: 100%;
    }

    .loc-date {
        display: none;
        visibility: hidden;
    }
}

.gallery {
    column-count: 2;
    column-gap: 30px;
    padding: 40px;
    padding-top: 0px;
    max-width: 1600px;
    margin: 0 auto;
}

.gallery_header {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 30px;
    break-inside: avoid;
    display: block;
}

.gallery img:hover {
    transform: scale(1.01);
}

.gallery_container h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:#333;
}

.gallery_header h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:#333;
}

.gallery_header a {
    text-decoration: none;
    transition: 0.15s;
}

.gallery_header a:hover {
    transform: scale(1.01);
}

.gallery_header h3 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color:#333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    animation: zoom 0.3s;
}

@keyframes zoom {
    from {transform: scale(0.8)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #bbb;
}